@import '../../colors/colors'

.container
    background-color topBackgroundColor
    color textOnDark

.innerContainer
    padding 8px

.pullLeft
    text-align left

.pullRight
    text-align right

.title
    font-weight bold
    font-size x-large
    margin-left 50px
    margin-right 50px
    vertical-align middle
    display inline-block

.flexTemp > div
    display inline-block

.flexTemp > p
    display inline-block

.headerNav
    display inline-block
    vertical-align sub

.headerNav > ul > li
    display inline-block
    padding 0px 20px

.headerNav > ul > li:hover
    cursor pointer

.rightNavMenu > ul > li
    display inline-block
    padding 0px 20px

.rightNavMenu
    margin-top 10px
    float right

.lockIcon
    padding-right 5px
    vertical-align middle
    font-size 20px !important

.rightDropDownIcon
    padding-left 5px

.iconSmallWidth
    vertical-align bottom
    font-size 35px !important
    display none !important

.navIcon
    margin-right 10px

@media (max-width: 1200px)
    .advancedMenu
        display none !important

    .showWhenSmallWidth
        display inline-block
        float right

    .iconSmallWidth
        display inline-block !important