@import '../colors/colors'

.footer
    padding 20px
    color white
    background-color background
    width max-width
    height 100px
    font-size xx-large
    text-align center

.btn:hover
    opacity 0.8

.allignDivs
    display inline-flex

.pullRight
    float right !important

.pullLeft
    float left

ul
    padding 0
    margin 0
    list-style-type none