// Specific
background = bluePrimary
textOnDark = white
textOnWhite = rgb(28, 28, 28)
mainColor = cloudyBlue
bluePrimary = #007bfff0
spinner = bluePrimary
bodyColor = background
bodySectionHeader = #848484
bodySectionText = textOnWhite
bodyBackgroundColor = rgb(239, 239, 244)
bodyInputIcon = rgb(81, 169, 117)
footerBackgroundColor = rgb(26, 83, 54)
topBackgroundColor = rgb(18, 66, 43)
greenHighlight = rgb(0, 162, 33)
greenButtonBackground = greenHighlight
orangeButtonBackground = rgb(198, 84, 21)
greenText = rgb(91, 212, 78)
divider = rgb(3, 130, 3)
socialIconBorder = greenHighlight
socialIconHoverBackground = #008a00
// General
clear = rgba(0, 0, 0, 0)
facebook = #3b5998
transparent = rgba(0, 0, 0, 0)
silver = #F7F7F7
steel = #CCCCCC
error = rgba(200, 0, 0, 0.8)
ricePaper = rgba(255, 255, 255, 0.75)
frost = #D8D8D8
cloud = rgba(200, 200, 200, 0.35)
windowTint = rgba(0, 0, 0, 0.4)
panther = #161616
charcoal = #595959
coal = #2d2d2d
bloodOrange = rgb(255, 90, 30)
// bloodOrange = #fb5f26
snow = white
ember = rgba(164, 0, 48, 0.5)
fire = #e73536
drawer = rgba(30, 30, 29, 0.95)
eggplant = #251a34
border = #483F53
banner = #5F3E63

// Export
:export
    clear clear
    facebook facebook
    transparent transparent
    silver silver
    steel steel
    error error
    ricePaper ricePaper
    frost frost
    cloud cloud
    windowTint windowTint
    panther panther
    charcoal charcoal
    coal coal
    bloodOrange bloodOrange
    snow snow
    ember ember
    fire fire
    drawer drawer
    eggplant eggplant
    border border
    banner banner
    background background
    textOnDark textOnDark
    textOnWhite textOnWhite
    mainColor mainColor
    bluePrimary bluePrimary
    spinner spinner
    bodyColor bodyColor
    bodySectionHeader bodySectionHeader
    bodySectionText bodySectionText
    bodyBackgroundColor bodyBackgroundColor
    footerBackgroundColor footerBackgroundColor
    topBackgroundColor topBackgroundColor
    greenHighlight greenHighlight
    greenButtonBackground greenButtonBackground
    orangeButtonBackground orangeButtonBackground
    greenText greenText
    divider divider
    socialIconBorder socialIconBorder
    socialIconHoverBackground socialIconHoverBackground