@import '../../colors/colors'

buttonPadding = 25px !important
inputTextColor = gray

.container
    background-color bodyBackgroundColor
    color textOnWhite

.innerContainer
    padding 40px

.mainBodySection
    padding-top 50px

.sectionHeader
    color bodySectionHeader
    margin-left -2px
    font-size x-large
    // font-family sans-serif

.bodyText
    font-size medium

.buttonCoverageOption
    color textOnDark
    background-color greenButtonBackground
    padding-left buttonPadding
    padding-right buttonPadding

.inputsContainer > div
    padding-left 0px
    // display inline-block

.inputRowContainer > div
    padding-bottom 50px

.buttonCancel
    background-color orangeButtonBackground
    color textOnDark

.buttonSubmit
    background-color greenButtonBackground
    color textOnDark
    margin-left 25px

.buttonContainer
    text-align right
    padding-right 40px

inputIconQuestionMarkPaddingSide = 5px

.inputIconQuestionMarkContainer
    padding-top 13px

.inputIconQuestionMark
    color bodyInputIcon
    border 2px solid bodyInputIcon
    border-radius 50%
    font-size 10px
    margin-bottom 4px
    background-color white
    text-align center
    vertical-align bottom
    font-weight bold
    margin-left 5px
    padding-left inputIconQuestionMarkPaddingSide
    padding-right inputIconQuestionMarkPaddingSide

.dropdown
    background white !important
    width 100%
    text-align left !important

.borderStyle
    border 1px solid lightgray
    border-top 0px

.inputGeneralStyle
    composes borderStyle
    color inputTextColor
    height 37px
    font-size 15px

.buttonDropdown
    composes inputGeneralStyle

.inputStyle
    composes inputGeneralStyle
    padding-left 10px
    width 100%

.buttonDropdownIcon
    color inputTextColor
    position absolute
    margin-left -25px
    margin-top 8px

@media (max-width: 992px)
    .sectionHeader
        text-align center

    .buttonCoverageOption
        width 100%
        margin-top 20px

    .rightBodySection
        margin-top 50px

    .bodyTopContainerSection
        padding-bottom 30px

    .bodyInputsContainer
        margin-top 50px

    .innerContainer
        padding 10px

    .borderStyle
        border-left 0px
        border-right 0px

    .inputGeneralStyle
        margin-bottom 70px

    .inputRowContainer > div
        padding-bottom 0px
