@import '../../colors/colors'

.container
    background-color footerBackgroundColor

.divider
    min-height 1px
    width 100%
    background-color divider
    margin 25px 10px

.flexTemp > div
    display inline-block

.alignCenter
    text-align center

.footerBody
    composes alignCenter
    margin-top 50px
    margin-bottom 20px

.footerBigText
    font-size 30px

.contactUs
    composes footerBigText
    color greenText
    display inline-block

.contactUsIcon
    color greenText
    margin-left 7px
    display inline-block

.contactUsContainer:hover
    cursor pointer

.footerQuote
    composes footerBigText
    color textOnDark
    padding-right 7px

.footerLinksContainer > a
    color textOnDark !important
    margin-left 30px

a:hover
    cursor pointer

.iconContainer
    border 1px solid socialIconBorder
    border-radius 50%
    margin-right 18px

.iconContainer:hover
    background-color socialIconHoverBackground
    cursor pointer

footerIconWidth = 39px

.footerIcon
    color textOnDark
    padding 8px
    height footerIconWidth
    width footerIconWidth
    font-size 24px !important

.iconTurnRight
    -webkit-transform rotate(45deg)
    -moz-transform rotate(45deg)
    -ms-transform rotate(45deg)
    -o-transform rotate(45deg)
    transform rotate(45deg)
    padding 10px 0px 0px 0px

.tdChairContainer
    text-align center

@media (min-width: 992px)
    .tdChairContainerBottom
        display none

    .tdChairContainerLeftSide
        display block

@media (max-width: 992px)
    .footerLinksContainer > a
        margin-left 0px
        display block

    .tdChairContainerLeftSide
        display none

    .tdChairContainerBottom
        display block

@media (max-width: 576px)
    .tdChairContainer > img
        width 100%